---
import type { Article } from "../types";

interface Props {
  count: string;
  article: Article;
}

const { article, count } = Astro.props as Props;
---

<article class="flex gap-6">
  <img
    src={article.image.url}
    alt={article.image.alt}
    class="lg:max-w-[25%] max-w-[30%]"
  />
  <div class="flex flex-col justify-between">
    <p class="text-grayish-blue-400 text-3xl font-bold">{count}</p>
    <a href="/" class="text-dark-blue hover:text-soft-red">
      <h3 class="text-lg font-extrabold">
        {article.article.headline}
      </h3>
    </a>
    <p class="text-grayish-blue-700 text-sm">
      {article.article.preview}
    </p>
  </div>
</article>
